*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    background-color: aquamarine;
    text-align: center;
}


.row{
    display: flex;
    flex-wrap: wrap;
}


section{
    flex: 50%;
    background-color: aliceblue;
    padding: 20px;
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background-color:rgb(167, 255, 255);
}

@media screen and (max-width: 700px){
    nav, .row{
        width: 50%;
        flex-direction:column;
    }
}

div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.registro{
    padding: 5%;
    display: block;
    font-size: 18px;
    line-height: 25px;
    width: 300px;
    height: 400px;
    background-color: rgba(252, 252, 252, 0.736);
    padding: 50px;
    margin: 30px;
}
.respuesta{
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
}
button.cargar:hover
{
 width: 200px;
 height: 50px;
 font-style: oblique;
}
button.cargar{
    background-color: black;
    font-size: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    cursor: pointer;
}

h3{
    font-family:'Arial Narrow';
    font-size: 18px;
    color: rgb(96, 94, 94);
}
h1{
    font-size: 18px;
    color: red;
    text-align: center;
    line-height: 5px;
}
img{
    margin-top: 20px;
    margin-left: 25px;

}
